<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotocv.jpeg" class="img-fluid fotocv"alt="" >
    </div>
    
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p class="nombre">{{persona?.nombre}} {{persona?.apellido}}</p>
        <p class="nombreE">Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1 class="acercademi">Acerca de mi</h1>
            <p class="acercademi-texto">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt magni qui at ea dolores rerum nisi cum inventore eligendi! Ipsa molestias nisi magnam possimus. Ex molestiae reiciendis tempora quas aperiam?</p>
        </span>
        </div>
    </div>
</div>
