<div class="container-fluid">
<div class="row">
    <h1 class="HYS">Hard & Soft Skills</h1> 
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="95"
            [backgroundPadding]="6"
            [radius]="70"
            [space]="-3"
            [outerStrokeWidth]="5"
            [innerStrokeWidth]="10"
            [outerStrokeColor]="'#5c2fc5'"
            [innerStrokeColor]="'#e4dada'"
            [title]="'C++'"
            [titleColor]="'#5c2fc5'"
            [titleFontSize]="'30'"
            [subtitleFontSize]="'20'"
            [animateTitle]="false"
            [subtitle]="'95%'"
            [animationDuration]="1000"
            [showUnits]="false"
            [clockwise]="false"
    ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="95"
            [backgroundPadding]="6"
            [radius]="70"
            [space]="-3"
            [outerStrokeWidth]="5"
            [innerStrokeWidth]="10"
            [outerStrokeColor]="'#5c2fc5'"
            [innerStrokeColor]="'#e4dada'"
            [title]="'JAVA'"
            [titleColor]="'#5c2fc5'"
            [titleFontSize]="'30'"
            [subtitleFontSize]="'20'"
            [animateTitle]="false"
            [subtitle]="'95%'"
            [animationDuration]="1000"
            [showUnits]="false"
            [clockwise]="false"
    ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="95"
            [backgroundPadding]="6"
            [radius]="70"
            [space]="-3"
            [outerStrokeWidth]="5"
            [innerStrokeWidth]="10"
            [outerStrokeColor]="'#5c2fc5'"
            [innerStrokeColor]="'#e4dada'"
            [title]="'Javascript'"
            [titleColor]="'#5c2fc5'"
            [titleFontSize]="'20'"
            [subtitleFontSize]="'20'"
            [animateTitle]="false"
            [subtitle]="'95%'"
            [animationDuration]="1000"
            [showUnits]="false"
            [clockwise]="false"
    > </circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="95"
            [backgroundPadding]="6"
            [radius]="70"
            [space]="-3"
            [outerStrokeWidth]="5"
            [innerStrokeWidth]="10"
            [outerStrokeColor]="'#5c2fc5'"
            [innerStrokeColor]="'#e4dada'"
            [title]="'Python'"
            [titleColor]="'#5c2fc5'"
            [titleFontSize]="'25'"
            [subtitleFontSize]="'20'"
            [animateTitle]="false"
            [subtitle]="'95%'"
            [animationDuration]="1000"
            [showUnits]="false"
            [clockwise]="false"
    ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="95"
            [backgroundPadding]="6"
            [radius]="70"
            [space]="-3"
            [outerStrokeWidth]="5"
            [innerStrokeWidth]="10"
            [outerStrokeColor]="'#5c2fc5'"
            [innerStrokeColor]="'#e4dada'"
            [title]="'Html-Css'"
            [titleColor]="'#5c2fc5'"
            [titleFontSize]="'20'"
            [subtitleFontSize]="'20'"
            [animateTitle]="false"
            [subtitle]="'95%'"
            [animationDuration]="1000"
            [showUnits]="false"
            [clockwise]="false"
    ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="95"
            [backgroundPadding]="6"
            [radius]="70"
            [space]="-3"
            [outerStrokeWidth]="5"
            [innerStrokeWidth]="10"
            [outerStrokeColor]="'#5c2fc5'"
            [innerStrokeColor]="'#e4dada'"
            [title]="'Node'"
            [titleColor]="'#5c2fc5'"
            [titleFontSize]="'30'"
            [subtitleFontSize]="'20'"
            [animateTitle]="false"
            [subtitle]="'95%'"
            [animationDuration]="1000"
            [showUnits]="false"
            [clockwise]="false"
    ></circle-progress>
    </div>


</div>
</div>